@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AI Service App</h1>
    <p class="lead">Go to ticket list.</p>
    <p><a href="@Url.Action("","Tickets")" class="btn btn-primary btn-lg">Ticket List &raquo;</a></p>
</div>

<div class="row">
    
</div>